
<div class="admim-main jumbotron mt-4">
  <h2 class="display-4">Cree o Edite un nuevo platillo</h2>
  <hr class="my-4">
  <p>Resgistre nuevos platillos, borrelos o modifique alguno ya existente.</p>

  <br><br>

  <a href="/admin/menu/add"><button class="btn-admin">Nuevo Platillo</button></a>
  <div class="container-fluid">
    <a href="/admin"><button class="btn-back">volver</button></a>
  </div>
  <br><br><br><br>
</div>

<div class="row">
  {{#each data}}

  <div class="col-md-3">
    <div class="card" style="border: solid 1px black; padding:inherit">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-beetween align-items-center">
          {{name}}
          <a href="/admin/menu/edit/{{_id}}"><i class="fa fa-pencil"></i></a>
        </h4>
        <p>{{description}}</p>
        <p>{{price}}</p>
        <p>{{ type }}</p>
        <form action="/admin/menu/delete/{{_id}}?_method=DELETE" method="POST">

          <input type="hidden" name="_method" value="DELETE">

          <button type="submit" class="btn btn-danger btn-block btn-sm">Borrar plato</button>
        </form>
      </div>
    </div>
  </div>

  {{/each}}
</div>

<br><br>